## Database Engineering

All database engineering will be completed within this notebook. SQL Alchemy will be utilized to model tables and create a SQL lite database for the created tables.

In [16]:
#import dependencies
import pandas as pd
import os
from datetime import date

#import python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date
from sqlalchemy.orm import Session

In [18]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)

In [19]:
# Create a connection to the engine called `conn`
conn = engine.connect()

## Creating the Measurements and Stations Table

In [20]:
# Create the measurement class
Base = declarative_base()

class Measurements(Base):
    __tablename__ = "Measurements"

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)

In [21]:
# Create the station class

Base = declarative_base()

class Station(Base):
    __tablename__ = "Stations"

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    lat = Column(Float)
    long = Column(Float)
    elev = Column(Float)
    location = Column(Text)

In [22]:
# Use `create_all` to create the table in the database
Base.metadata.create_all(conn)

session = Session(bind=engine)

In [23]:
# Import stations file to dataframe
station_data = os.path.join("..", "Assignment 11", "Data", "clean_hawaii_stations.csv")
station_path = "Data/clean_hawaii_stations.csv"

station_df = pd.read_csv(station_data)

# Import measurements file to dataframe
measure_data = os.path.join("..", "Assignment 11", "Data", "clean_hawaii_measurements.csv")
measure_path = "Data/clean_hawaii_measurements.csv"

measure_df = pd.read_csv(measure_data)

In [24]:
# Send the station dataframe to the sql lite database
station_df.to_sql('Stations', engine, index = False, if_exists='replace')

# Check to make sure the data successfully transferred 
df = pd.read_sql_query('SELECT * FROM Stations LIMIT 3', engine)
df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0

In [25]:
# Send the measurements datafram to the sqlite database
measure_df.to_sql('Measurements', engine, index = False, if_exists='replace')

# Check to make sure the data successfully entered
df = pd.read_sql_query('SELECT * FROM Measurements LIMIT 3', engine)
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74