In [2]:
#Import matplot, pandas, numpy
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [7]:
#Import data and read city_data
city_data = os.path.join("..", "Assignment 5", "Raw_Data", "city_data.csv")
city_path = "Desktop/UT-Data-bootcamp/Assignment 5/Raw_Data/city_data.csv"
city_data1 = pd.read_csv(city_path)
city_data1 = city_data1.drop_duplicates('city', keep='last')

#Import data and read ride_data
ride_data = os.path.join("..", "Assignment 5", "Raw_Data", "ride_data.csv")
ride_path = "Desktop/UT-Data-bootcamp/Assignment 5/Raw_Data/ride_data.csv"
ride_data1 = pd.read_csv(ride_path)

#Merge data and create dataframe
city_merge = pd.merge(city_data1, ride_data1, on='city', how='outer')
city_merge.head()

         city  driver_count   type                 date   fare        ride_id
0  Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
1  Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
2  Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736
3  Kelseyland            63  Urban  2016-01-25 20:44:56  12.08  1896987891309
4  Kelseyland            63  Urban  2016-08-09 18:19:47  17.91  8784212854829