In [1]:
#Import dependencies
import os
import csv
import pandas as pd

In [2]:
#Read csv
election_data = budget_data = os.path.join("..", "Python Challenge", "PyPoll", "Raw_Data", "election_data_1.csv")
csv_path = "Desktop/UT-Data-bootcamp/Python Challenge/PyPoll/Raw_Data/election_data_1.csv"
pd.read_csv(csv_path)

In [3]:
#create DataFrame
election_df = pd.read_csv(csv_path)
election_df.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [9]:
#Get total votes
total_votes = election_df["Voter ID"].count()
total_votes

803000

In [10]:
#Get complete list of candidates who received votes
candidate = election_df["Candidate"].unique()
sorted(list(candidate))

['Cordin', 'Seth', 'Torres', 'Vestal']

In [13]:
#Total number of votes each candidate won
candidate_votes = election_df["Candidate"].value_counts()
candidate_votes

Vestal    385440
Torres    353320
Seth       40150
Cordin     24090
Name: Candidate, dtype: int64

In [29]:
#Get percentage of votes each candidate won
percentage_votes = ((candidate_votes)/total_votes)*100
final_percentages = percentage_votes.map("{0: ,.1f}%".format)
final_percentages

Vestal     48.0%
Torres     44.0%
Seth        5.0%
Cordin      3.0%
Name: Candidate, dtype: object

In [30]:
#Get Winnner of election
max_candidate = election_df["Candidate"].max()
max_candidate

'Vestal'

In [31]:
#Create group to get candidate and the amount of votes each received 
vote_group = election_df.groupby(["Candidate"])
print(vote_group)
vote_group.count()

<pandas.core.groupby.DataFrameGroupBy object at 0x1051c6c18>

           Voter ID  County
Candidate
Cordin        24090   24090
Seth          40150   40150
Torres       353320  353320
Vestal       385440  385440

In [32]:
candidate_votes[0]
candidate_votes[1]
candidate_votes[2]
candidate_votes[3]

24090

In [33]:
#Print out results
print("Election Results")
print("----------------------")
print("Total Votes: " + str(total_votes))
print("----------------------")
print(candidate[0] + ":" + " " + str(final_percentages[0]) + "(" + str(candidate_votes[0]) + ")") 
print(candidate[1] + ":" + " " + str(final_percentages[1]) + "(" + str(candidate_votes[1]) + ")")
print(candidate[2] + ":" + " " + str(final_percentages[2]) + "(" + str(candidate_votes[2]) + ")")
print(candidate[3] + ":" + " " + str(final_percentages[3]) + "(" + str(candidate_votes[3]) + ")")
print("----------------------")
print("Winner: " + str(max_candidate))
print("----------------------")

Election Results
----------------------
Total Votes: 803000
----------------------
Vestal:  48.0%(385440)
Torres:  44.0%(353320)
Seth:  5.0%(40150)
Cordin:  3.0%(24090)
----------------------
Winner: Vestal
----------------------

In [ ]:
#Output to txt file with the results